<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>

    <!--build:css /css/contact.min.css-->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/contact.css">
    <!--endbuild-->
</head>
<body>
    
    <!--build:js /js/contact.min.js defer-->
    <script type="text/javascript" defer src="../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" defer src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" defer src="../js/contact.js"></script>
    <!--endbuild-->
</body>
</html>